lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz
pids
logs
results
node_modules
.nyc_output
*.idea/*
*.orig
coverage
dist
*~
data/*.json
config/config.json
container/test/testconfig.sh
container/test/node_modules
container/test/package-lock.json
container/scripts/testsensor/node_modules
container/scripts/testsensor/package-lock.json
container/scripts/testsensor/config.json
package-lock.json
.prepare-testconfig
